extend layout

block content
	#quiz-app
	script(type='text/javascript').
		const baseUrl = "#{baseUrl}";
		const examId = "#{examId}";
		const title = "#{title}";
		const subTitle = "#{subTitle}";
	script(type='text/javascript' src=`${baseUrl}/javascripts/quiz_app.bundle.js`)